@import '../../styles.scss';

h2 {
    font-size: 2rem;
}

.holder {
    margin-top: 3.5rem;
}

.blurb {
    border-left: 0.18rem solid var(--main);
}

.blurb:hover {
    border-color: $accent;
}

.icons {
    margin-top: 3rem;
}

.skills-img {
    width: 40%;
    max-width: 4.5rem;
    transition: transform .2s;
}

.skills-img:hover {
    transform: translateY(-0.25rem); 
}

