<div class="container">
    <h2 class="section-header">1. About me<mat-icon (click)="aboutMeLink()" class="section-link pointer ml-3">link</mat-icon></h2>

    <div fxLayoutAlign="center center" class="holder w-100">
        <div fxFlex.gt-md="80" fxFlex.md="85" fxFlex.lt-md="90">
            <div class="content" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center">
        
                <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="space-around center" class="w-100">

                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/clock.svg" class="skills-img no-highlight filter-img-white">
                        <span class="accent-on-dark py-2">3+ Years Experience</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/pencil.svg" class="skills-img no-highlight filter-img-white">
                        <span class="accent-on-dark py-2">Creative</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/crop.svg" class="skills-img no-highlight filter-img-white">
                        <span class="accent-on-dark py-2">Detail Oriented</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/speach-bubble.svg" class="skills-img no-highlight filter-img-white">
                        <span class="accent-on-dark py-2">Strong Communicator</span>
                    </div>
                </div>

                <div class="blurb pl-3 mt-4 w-100">
                    <div>Hi, I'm Abdul Shahrukh Khan, a 4th year Computational Mathematics student at the University of Waterloo with minors in Computer Science and Combinatorics & Optimization. I'm passionate about building scalable cloud backend systems and developing full-stack applications. With extensive experience in cloud infrastructure, distributed systems, and modern web technologies, I enjoy solving complex problems and creating efficient, reliable solutions.</div>
                    <div class="mt-2">I've had the privilege of working at companies like Groq, Manulife, HomeTrust, Blackberry, and Purolator</div>
                    <div class="mt-2">Outside of programming and school, I like to play sports (cricket & football) and listen to a variety of music.</div>

                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="w-100 mt-2">
                    <span class="accent-on-dark weight-500 mt-2 mr-2">Languages:</span>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100">
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Python">Python</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="C++">C++</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Go">Go</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="JavaScript/TypeScript"><fa-icon [icon]="faJsSquare" size="1x"></fa-icon> JavaScript/TypeScript</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="SQL">SQL</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Bash">Bash</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="MATLAB">MATLAB</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="HTML/CSS"><fa-icon [icon]="faHtml5" size="1x"></fa-icon> HTML/CSS</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="w-100 mt-2">
                    <span class="accent-on-dark weight-500 mt-2 mr-2">DevOps:</span>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100">
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Google Cloud Platform"><fa-icon [icon]="faGoogle" size="1x"></fa-icon> GCP</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Azure">Azure</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Docker"><fa-icon [icon]="faDocker" size="1x"></fa-icon> Docker</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Kubernetes">Kubernetes</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Kustomize">Kustomize</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Terraform">Terraform</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Jenkins">Jenkins</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Git"><fa-icon [icon]="faGit" size="1x"></fa-icon> Git</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Linux"><fa-icon [icon]="faLinux" size="1x"></fa-icon> Linux</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="w-100 mt-2">
                    <span class="accent-on-dark weight-500 mt-2 mr-2">Frameworks:</span>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100">
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Apache Spark">Apache Spark</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="React.js">React.js</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Node.js">Node.js</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Express.js">Express.js</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="GraphQL">GraphQL</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="NumPy">NumPy</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Pandas">Pandas</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="TensorFlow">TensorFlow</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="w-100 mt-2">
                    <span class="accent-on-dark weight-500 mt-2 mr-2">Monitoring:</span>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100">
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Prometheus">Prometheus</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="OpenTelemetry">OpenTelemetry</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Honeycomb">Honeycomb</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Grafana">Grafana</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


