<div class="container">
    <h2 class="section-header">1. About me<mat-icon (click)="aboutMeLink()" class="section-link pointer ml-3">link</mat-icon></h2>

    <div fxLayoutAlign="center center" class="holder w-100">
        <div fxFlex.gt-md="80" fxFlex.md="85" fxFlex.lt-md="90">
            <div class="content" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center">
        
                <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="space-around center" class="w-100">

                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/clock.svg" class="skills-img no-highlight filter-img-white">
                        <span class="accent-on-dark py-2">4 Years Experience</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/pencil.svg" class="skills-img no-highlight filter-img-white">
                        <span class="accent-on-dark py-2">Creative</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/crop.svg" class="skills-img no-highlight filter-img-white">
                        <span class="accent-on-dark py-2">Detail Oriented</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/speach-bubble.svg" class="skills-img no-highlight filter-img-white">
                        <span class="accent-on-dark py-2">Strong Communicator</span>
                    </div>
                </div>

                <div class="blurb pl-3 mt-4 w-100">
                    <div>Hi, I'm Kimberley, a 4th year computer engineering student at the University of Waterloo.  I enjoy bringing designs to life and am passionate about creating clean, functional and efficient code.  I have significant experience in front-end development and am egear to explore backend and full-stack development.</div>
                    <div class="mt-2">Outside of programming, I enjoy exploring various forms of art, including drawing, video editing, filming, and digital/analog photography. I also enjoy spending time outdoors, listening to music and exploring new trails.</div>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="start start" class="w-100 mt-2">
                    <span class="accent-on-dark weight-500 mt-2 mr-2">Languages:</span>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100">
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="HTML"><fa-icon [icon]="faHtml5" size="1x"></fa-icon> HTML</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="CSS/SCSS"><fa-icon [icon]="faCss3Alt" size="1x"></fa-icon> CSS/SCSS</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="JavaScript/TypeScript"><fa-icon [icon]="faJsSquare" size="1x"></fa-icon> JavaScript/TypeScript</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Java"><fa-icon [icon]="faJava" size="1x"></fa-icon> Java</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="C/C++">C/C++</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="MySQL">MySQL</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="PostgreSQL">PostgreSQL</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="w-100 mt-2">
                    <span class="accent-on-dark weight-500 mt-2 mr-2">Frameworks:</span>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100">
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Angular"><fa-icon [icon]="faAngular" size="1x"></fa-icon> Angular</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Bootstrap"><fa-icon [icon]="faBootstrap" size="1x"></fa-icon> Bootstrap</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Cypress E2E Testing">Cypress</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="w-100 mt-2">
                    <span class="accent-on-dark weight-500 mt-2 mr-2">Tools:</span>
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100">
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Git"><fa-icon [icon]="faGit" size="1x"></fa-icon> Git</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Jira"><fa-icon [icon]="faJira" size="1x"></fa-icon> Jira</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Swagger UI">Swagger UI</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Docker"><fa-icon [icon]="faDocker" size="1x"></fa-icon> Docker</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="AWS"><fa-icon [icon]="faAws" size="1x"></fa-icon> AWS</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Linux"><fa-icon [icon]="faLinux" size="1x"></fa-icon> Linux</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Figma"><fa-icon [icon]="faFigma" size="1x"></fa-icon> Figma</div>
                        <div class="chip accent-on-dark no-highlight mt-2" matTooltip="Google Fonts"><fa-icon [icon]="faGoogle" size="1x"></fa-icon> Google Fonts</div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>

</div>


