<div class="container">
    <h2 class="section-header">1. About me<mat-icon (click)="aboutMeLink()" class="section-link pointer ml-3">link</mat-icon></h2>

    <div fxLayoutAlign="center center" class="holder w-100">
        <div fxFlex.gt-md="80" fxFlex.md="85" fxFlex.lt-md="90">
            <div class="content" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center">
        
                <div fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="space-around center" class="w-100">

                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/clock.svg" class="skills-img no-highlight invert-img">
                        <span class="py-2">3 years experience</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/pencil.svg" class="skills-img no-highlight invert-img">
                        <span class="py-2">creative</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/crop.svg" class="skills-img no-highlight invert-img">
                        <span class="py-2">detail oriented</span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.lt-md="50">
                        <img src="../../assets/icons/speach-bubble.svg" class="skills-img no-highlight invert-img">
                        <span class="py-2">strong communicator</span>
                    </div>
                </div>
        
                <body class="blurb pl-3 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </body>
        
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100 mt-3">
                    <span class="weight-500">Languages:</span>
                    <div *ngFor="let lang of languages" class="chip no-highlight  mt-2">{{ lang }}</div>
                </div>
        
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="0.4rem" class="w-100 mt-3">
                    <span class="weight-500">Frameworks:</span>
                    <div *ngFor="let frame of frameworks" class="chip no-highlight  mt-2">{{ frame }}</div>
                </div>
        
            </div>
        </div>
    </div>

</div>


