@import '../../theme.scss';

.container {
    margin-top: 3%;
}

// Main text
.intro {
    font-size: 1.1rem;
    padding-left: 20%;
}

.blurb {
    font-size: 1rem;
    padding: 0 22%;
    text-align: center;
}

.sub-blurb {
    font-size: 0.9rem;
}

// Corner design
.cornerDesignR, .cornerDesignL {
    z-index: 0;
    position: relative;
    width: 15%;
}

.cornerDesignL {
    float: left;
}

// Scroll animation and style
.arrow {
    width: 19px;
}

.scroll {
    cursor: pointer;
    animation: scrollAnimation 1s ease-in-out infinite;
}

@keyframes scrollAnimation {
    0% {
      transform: translateY(-3px);
    }
  
    50% {
      transform: translateY(3px);
    }
  
    100% {
      transform: translateY(-3px);
    }
}