<div class="container home">

    <div fxLayout fxLayoutAlign="end">
        <img class="cornerDesignR no-highlight filter-img-white" src="../../assets/homepage-right-corner.svg">
    </div>
    
    <div class="intro">Hi, my name is</div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <!-- comment out for now -->
        <!-- <h1 [style]="fontFamily" (click)="fontChange()" class="pointer no-highlight">KIMBERLEY CHONG</h1> -->
        <h1 class="no-highlight">KIMBERLEY CHONG</h1>

        <div class="blurb">
            <div class="accent">4th year Computer Engineering @ University of Waterloo</div>
            <div class="sub-blurb mt-2">- Software Developer -</div>
        </div>
        <div fxLayout fxLayoutAlign="space-around end" fxLayoutGap="1rem" class="mt-3">
            <a href="https://github.com/KimberleyChong" target="_blank" matTooltip="Check out my GitHub"><fa-icon [icon]="faGithub" size="lg" class="accent-hover"></fa-icon></a>
            <a href="mailto:k7chong@uwaterloo.ca" target="_blank" matTooltip="Shoot me an email"><fa-icon [icon]="faEnvelope" size="lg" class="accent-hover main"></fa-icon></a>
            <a href="https://www.linkedin.com/in/kimberleychong-dev" target="_blank" matTooltip="Let's connect on LinkedIn"><fa-icon [icon]="faLinkedin" size="lg" class="accent-hover"></fa-icon></a>
        </div>
    </div>

    <div fxLayout fxLayoutAlign="start">
        <img class="cornerDesignL no-highlight filter-img-white" src="../../assets/homepage-left-corner.svg">
    </div>

    <a href="#about-me" class="main no-underline">
        <div fxLayout="column" fxLayoutAlign="center center" class="scroll no-highlight mt-5">
            <span>Scroll</span>
            <mat-icon>expand_more</mat-icon>
        </div>
    </a>

</div>


