@import '../../theme.scss';

.logo {
  font-size: 1.5rem;
  font-family: 'Bungee Shade';
  position: absolute;
}

#theme-toggle {
  position: absolute;
}

.left-space {
  left: 10%;
}

.right-space {
  right: 10%;
}

.nav {
  height: 3rem;
  top: 0.3rem;
  border-bottom: 2px solid var(--main);
  gap: 3.8rem;
}

.nav, .nav-menu {
  z-index: 99;
  position: sticky;
  position: -webkit-sticky;
  border-bottom: 2px solid var(--main);
  background-color: var(--background-color);
}

.nav-menu {
  top: 3.3rem
}

.nav-menu-option {
  height: 3rem;
}

a {
  position: relative;
  transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

a:hover {
  color: $accent;
}

.welcomeBar {
    font-size: 0.8rem;
    color: $accent;
    white-space: nowrap;
    padding: 1rem 0;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

.innerWelcomeBar {
    width: 4000px;
    animation: welcomebarAnimation 25s linear 0s infinite;
}

@keyframes welcomebarAnimation {
    100% { 
        transform: translateX(-2000px);
    }
}