<div class="container pt-5">
    <h2>2. Experience</h2>

    <mat-accordion>
        <div *ngFor="let entry of Experience" class="entry">
            <div fxLayout fxFlex fxLayoutAlign="center center">
                <img class="logosmall p-2" src="../../assets/work_logos/{{ entry.logo }}.png" matTooltip="Ontario Institute for Cancer Research - Dockstore">
            </div>
            <mat-expansion-panel hideToggle class="mat-elevation-z mb-4" fxFlex="60">
                <mat-expansion-panel-header [collapsedHeight]="'min-content'" [expandedHeight]="'min-content'" class="p-4">
                    <div fxLayout="column">
                        <div class="title accent-font">{{ entry.title }}</div>
                        <div class="mt-2">
                            {{ entry.company }} | <mat-icon>location_on</mat-icon>{{ entry.location}}
                        </div>
                        <div class="mt-1">{{ entry.date }}
                            <mat-icon>date_range</mat-icon>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <div *ngFor="let point of entry.bulletPoints" fxLayout fxLayoutGap="0.5rem" class="mt-3">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <div>{{ point }}</div>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>

</div>


