@import '../../styles.scss';

h2 {
    font-size: 2rem;
}

.mat-expansion-panel .title {
    font-weight: 500;
}

mat-expansion-panel {
    color: $main;
    background-color: $background-colour;
    border-bottom: 2px solid black;
}

.mat-expansion-panel, .mat-accordion .mat-expansion-panel:first-of-type, .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0rem;
}

.mat-expansion-panel-spacing {
    margin: 0rem;
}

mat-expansion-panel-header .title {
    font-size: 1.2rem;
}

mat-icon {
    font-size: 1.1rem;
    vertical-align: top;
}

  img.logosmall {
    width: 50%;
  }