h2 {
    font-size: 2rem;
}

mat-expansion-panel, .mat-accordion .mat-expansion-panel:first-of-type, .mat-accordion .mat-expansion-panel:last-of-type {
    border-left: solid 2px black;
    border-radius: 0rem;
}

mat-expansion-panel-header .title {
    font-size: 1.2rem;
}

mat-icon {
    font-size: 1.1rem;
    vertical-align: top;
}

.logo {
    max-width: 60%;
    max-height: 70%;
}

@media only screen and (max-width: 600px) {
    /* xs */
    .logo {
      max-width: 40%;
    }
  }

  img.logosmall {
    height: 8rem;
  }