@import '../../theme.scss';

h2 {
    font-size: 2rem;
}

.entry {
    margin-top: 2rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
}

.blurb {
    border-left: 0.18rem solid;
}

.logo {
    max-height: 1.8rem;
    vertical-align: middle;
}

.saver {
    color: #E23557;
    border-color: #E23557;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.spotify {
    color: #1DB954;
    border-color: #1DB954;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.portfolio {
    color: var(--secondary);
    border-color: var(--secondary);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.saver-blk {
    color: var(--main);
    border-color: #E23557;
}
.spotify-blk {
    color: var(--main);
    border-color: #1DB954;
}

.portfolio-blk {
    color: var(--main);
    border-color: var(--secondary);
}

.chip.saver:hover {
    color: var(--background-color);
    background-color: #E23557;    
    cursor: pointer;
}

.chip.spotify:hover {
    color: var(--background-color);
    background-color: #1DB954;
    cursor: pointer;
}

.chip.portfolio:hover {
    color: var(--background-color);
    background-color: var(--secondary);
    cursor: pointer;
}

video, .no-video {
    border-radius: 0.4rem;
}

video, .no-video, .img-holder {
    width: 80%;
}

.no-video {
    border: 0.08rem solid var(--main);
}

.project-img {
    border-radius: 0.4rem;
}

.project-img:hover, video:hover {
    cursor: pointer;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    -webkit-transition: 0.1s ease;
    -moz-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    -ms-transition: 0.1s ease;
    transition: 0.1s ease;
}
