<div class="container pt-5">
    <h2>3. Projects</h2>

    <div class='entry'>
        <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center">
            <img class="screensaver" src="../../assets/screensaver/IMG_8276.jpeg">
            <img class="screensaver" src="../../assets/screensaver/IMG_5673.jpeg">
            <img class="screensaver" src="../../assets/screensaver/IMG_8282.jpeg">
        </div>

        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="mb-2 mt-3">
            <mat-icon class="screensaver">laptop_mac</mat-icon>
            <div class="title accent-font screensaver">Positive Affirmations Screensaver</div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="1rem">
            <div class="chip screensaver mt-2" *ngFor="let entry of screensaverChips">{{entry}}</div>
        </div>

        <div class="mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        
        <a href="https://github.com/KimberleyChong" target="_blank">
            <img class="mt-3 git" src="../../assets/icons/github.svg"> 
        </a>
    </div>

    <div class='entry'>
        <div class="slider" fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayoutAlign="center">
            <img class="imageEntry" src="../../assets/spotify/Screenshot 2023-01-05 at 2.10.50 PM.png">
            <img class="imageEntry" src="../../assets/spotify/Screenshot 2023-01-05 at 2.11.16 PM.png">
            <img class="imageEntry" src="../../assets/spotify/Screenshot 2023-01-05 at 2.11.39 PM.png">
            <img class="imageEntry" src="../../assets/spotify/Screenshot 2023-01-05 at 2.11.54 PM.png">
        </div>

        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="mb-2 mt-3">
            <img class="logo" src="../../assets/spotify/spotify_logo.svg">
            <div class="title accent-font spotify">Spotify Unwrapped Recreation</div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="1rem">
            <div class="chip spotify mt-2" *ngFor="let entry of spotifyChips">{{entry}}</div>
        </div>

        <div class="mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        
        <a href="https://github.com/KimberleyChong" target="_blank">
            <img class="mt-3 git" src="../../assets/icons/github.svg"> 
        </a>
    </div>

</div>