<div class="container pt-5">
    <h2 class="section-header">3. Projects</h2>

    <div class="container-content">
        <div *ngFor="let project of projects" class="entry">
            <div class="visuals" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
                <video preload loop autoplay muted id="video" webkit-playsinline="" playsinline="">
                    <source src="{{ project.video }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="center center">
                    <img *ngFor="let imgInfo of project.imgInfo" fxFlex="25" src="{{ imgInfo.img }}" (click)="openDialog(imgInfo.img, imgInfo.imgText)" class="project-img noHighlight">
                </div>
            </div>
    
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="mb-2 mt-3">
                <mat-icon *ngIf="project.class === 'saver'" class="saver">laptop_mac</mat-icon>
                <img  *ngIf="project.class === 'spotify'" class="logo" src="../../assets/spotify/spotify_logo.svg">
                <div class="title accent-font {{project.class}}">{{ project.title }}</div>
            </div>
    
            <div fxLayout="row wrap" fxLayoutGap="1rem">
                <div class="chip {{project.class}} mt-2" *ngFor="let chip of project.chips">{{ chip }}</div>
            </div>
    
            <div class="mt-2">
                {{ project.blurb }}
            </div>
            
            <a href="{{ project.github }}" target="_blank">
                <img class="mt-3 git" src="../../assets/icons/github.svg"> 
            </a>
        </div>
    </div>
</div>