<div class="container">
    <h2 class="section-header mb-3">3. Projects<mat-icon (click)="projectsLink()" class="section-link pointer ml-3">link</mat-icon></h2>

    <div fxLayoutAlign="center center" class="w-100">
        <div fxFlex.gt-md="80" fxFlex.md="85" fxFlex.lt-md="90">
            <div fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="2rem" *ngFor="let project of projects" class="entry">
                <div fxFlex="50" fxFlex.lt-md="100">
                    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="0.5rem" class="mb-2 mt-3">
                        <mat-icon *ngIf="project.class === 'saver'" class="saver no-highlight">laptop_mac</mat-icon>
                        <fa-icon *ngIf="project.class === 'spotify'" [icon]="faSpotify" size="2x" class="no-highlight spotify"></fa-icon>
                        <mat-icon *ngIf="project.class === 'portfolio'" class="logo portfolio no-highlight">auto_awesome</mat-icon>
                        <div class="title {{project.class}}">{{ project.title }}</div>
                    </div>
            
                    <div fxLayout="row wrap" fxLayoutGap="0.4rem" class="no-highlight">
                        <div class="chip {{project.class}} no-highlight mt-2" *ngFor="let chip of project.chips" matTooltip="{{ chip }}">{{ chip }}</div>
                        <div *ngIf="project.class === 'portfolio'" class="chip {{project.class}} no-highlight mt-2" matTooltip="Angular Application"><fa-icon [icon]="faAngular" size="1x"></fa-icon> Angular Application</div>
                        <div *ngIf="project.class === 'saver'" class="chip {{project.class}} no-highlight mt-2" matTooltip="MacOS Compatible"><fa-icon [icon]="faApple" size="1x"></fa-icon> MacOS Compatible</div>
                        <div class="chip {{project.class}} no-highlight mt-2"><fa-icon [icon]="faFigma" size="1x" matTooltip="Figma"></fa-icon></div>
                        <div *ngIf="project.class === 'spotify'" class="chip {{project.class}} no-highlight mt-2" matTooltip="Spotify"><fa-icon [icon]="faSpotify" size="1x"></fa-icon></div>
                    </div>
            
                    <div class="blurb {{project.class}}-blk pl-3 mt-2">
                        {{ project.blurb }}
                    </div>
                    
                    <div class="mt-2">
                        <a href="{{ project.github }}" target="_blank">
                            <fa-icon [icon]="faGithub" size="lg"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="visuals" fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
                    <video *ngIf="project.class === 'saver' || project.class === 'spotify'; else noVideo" preload loop autoplay muted id="video" webkit-playsinline="" playsinline="" (click)="openDialog(project.class, 0, true)">
                        <source src="{{ project.video }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <ng-template #noVideo>
                        <img src="{{ project.video }}" (click)="openDialog(project.class, 0, true)" class="no-video">
                    </ng-template>
                    <div fxLayout="row" fxLayoutGap="0.2rem" fxLayoutAlign="center center" class="img-holder">
                        <img *ngFor="let imgInfo of project.imgInfo; index as index" fxFlex="25" src="{{ imgInfo.img }}" (click)="openDialog(project.class, index, false)" class="project-img no-highlight">
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>