<div class="container">
    
    <div class="content" fxLayout="column" fxLayoutAlign="start">
        <h2 class="section-header">4. Let's get in contact<mat-icon (click)="contactLink()" class="section-link pointer ml-3">link</mat-icon></h2>
        <span class="accent-font accent filter-on-hover">Looking for a front-end developer position for Fall 2023!</span>
        <span class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>

        <!-- Social icons -->
        <div fxLayout fxLayoutAlign="start" fxLayoutGap="2rem" class="mt-4">
            <a href="https://github.com/KimberleyChong" target="_blank"><img src="../../assets/icons/github.svg" class="icons no-highlight accent-on-hover invert-img"></a>
            <a href="https://github.com/KimberleyChong" target="_blank"><img src="../../assets/icons/email.svg" class="icons no-highlight accent-on-hover invert-img"></a>
            <a href="https://github.com/KimberleyChong" target="_blank"><img src="../../assets/icons/linkedin.svg" class="icons no-highlight accent-on-hover invert-img"></a>
        </div>

        <button mat-stroked-button class="mt-3 main-color-button accent-font">Resume</button>
    </div>
    
</div>