<div class="container">
    
    <div class="content" fxLayout="column" fxLayoutAlign="start">
        <h2 class="section-header">4. Let's get in contact<mat-icon (click)="contactLink()" class="section-link pointer ml-3">link</mat-icon></h2>
        <span class="accent-font accent filter-on-hover">Seeking software development internship opportunities for Fall 2023!</span>
        <span class="pt-3">Shoot me an email or connect with me on LinkedIn, thanks for stopping by!</span>

        <!-- Social icons -->
        <div fxLayout fxLayoutAlign="start" fxLayoutGap="2rem" class="mt-4">
            <a href="https://github.com/KimberleyChong" target="_blank" matTooltip="Check out my GitHub"><fa-icon [icon]="faGithub" size="2x" class="accent-hover"></fa-icon></a>
            <a href="mailto:k7chong@uwaterloo.ca" target="_blank" matTooltip="Shoot me an email"><fa-icon [icon]="faEnvelope" size="2x" class="accent-hover main"></fa-icon></a>
            <a href="https://www.linkedin.com/in/kimberleychong-dev" target="_blank" matTooltip="Let's connect on LinkedIn"><fa-icon [icon]="faLinkedin" size="2x" class="accent-hover"></fa-icon></a>
        </div>

        <!-- <button mat-stroked-button class="mt-3 main-color-button accent-font">Resume</button> -->
    </div>
    
</div>