@import '../../styles.scss';

.mat-dialog-content.m-0.p-0 {
    max-height: fit-content;
    max-width: fit-content;
    overflow: visible;
}

img, video {
    border-radius: 0.5rem;
}

img, video, .content-wrapper {
    width: 55vw;
}

mat-icon-button, .mat-flat-button {
    background: transparent;
}

.content-wrapper, mat-icon {
    color: var(--main);
}
