@import '../theme.scss';

/* The progress container (grey background) */
.progress-container {
    position: fixed;
    top: 0;
    z-index: 1;
    background: var(--progress-container);
}

/* The progress bar (scroll indicator) */
.progress-bar {
    background: $accent;
    width: 0%;
}

.progress-container .progress-bar {
    height: 0.3rem;
}
