.experience_heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 2;
    font-style: bold;
    font-size: 220px;
    color: rgb(235, 235, 235);
    text-align: center;
}

.experience_card{
   margin-right:20%;
   margin-left:25%;
}

.company_name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333333;
    font-size: 50px;
}

.role{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333333;
    font-size: 18px;}

li{
 color: #333333;
    font-size: 20px;
    padding: 10px;   
}

.line-experience{
    margin-top: 2%;
    width: 60%;
    border: 1px solid black;
    border-radius: 4px;

}


/* .experience_card1{ */
    /* border-style: solid ; */
    /* border-color: #333333; */
    /* border-radius: 6%; */
    /* padding: 2%; */
    /* background: rgba(255, 255, 255, 0.12); */
/* border-radius: 16px; */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
/* backdrop-filter: blur(5px); */
/* -webkit-backdrop-filter: blur(5px); */
/* border: 1px solid rgba(255, 255, 255, 0.3); */
/* } */

/* .experience_card1:hover {
    background-color:rgb(245, 244, 244);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  } */
