.Name{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;    
}

.name{
    font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

.dd{
    font-family: sans-serif;
  font-weight: 200;
  font-style: light;
  font-size: 40px;
}