.column {
    float: left;
    width: 25%;
    padding: 0 70px;
    padding-bottom: 60px;
  }
  
  .row {margin: 0 -5px;}
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 60px;
    text-align: center;
    background-color: white;
  }
  .card:hover {
    background-color:rgb(245, 244, 244);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }


  h1{
    color: #333333;
    font-size: 47px;
  }

  h5{
    color: #333333;
  }

  .tech{
    font-size: 18px;
    font-weight: bold;
  }
  .bubble {
    background-color: #333333;
    color:white;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-align: center;
    margin: 10px;
  }

  p{
    color: #333333;
    font-size: 20px;
  }