@import url(https://allfont.net/allfont.css?fonts=lucida-console);
@import "bootstrap4.scss";

@font-face {
    font-family: 'ts_blockbold';
    src: url('assets/fonts/ts-block/ts_block_bold-webfont.woff2') format('woff2'),
         url('assets/fonts/ts-block/ts_block_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$accent: #F5004A;

.accent {
    color: $accent;
}

html, body { 
    height: 100%; 
    scroll-behavior: smooth;
}

body { 
    margin: 0; 
    font-family: 'Roboto Mono', "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
}

h1 {
    font-family: 'ts_blockbold';
    // font-size: 4rem;
    font-size: 4vw;
    margin: 1.2rem;
}

h2, .accent-font {
    font-family: 'ts_blockbold';
}

.chip {
    border: black solid 0.1rem;
    border-radius: 0.9rem;
    padding: 0.25rem 0.7rem;
    transition: transform .6s;
}

.chip:hover {
    transform: translateY(-0.5rem);
    
}

// .container {
//     min-height: 90%;
// }

.container:not(.home) {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
    /* xs */
    .container {
      margin: 0;
    }
  }

button.mat-stroked-button, .mat-stroked-button:not(.mat-button-disabled) {
    max-width: min-content;
    border: 2px solid black;
}

mat-stroked-button:hover {
    background: $accent;
}