@import "bootstrap4.scss";
@import "theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

.main {
    color: var(--main);
}

.accent {
    color: $accent;
}

.accent-hover:hover {
    color: $accent;
}

.filter-on-hover:hover {
    filter: saturate(3);
}

html, body { 
    margin: 0rem;
    height: fit-content; 
    scroll-behavior: smooth;
}

body, mat-expansion-panel div { 
    font-family: 'IBM Plex Mono';
    font-size: 0.85rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: var(--main);
    background-color: var(--background-color);
}

h1 {
    font-family: 'Bungee Shade';
    font-size: 4rem;
    line-height: 4rem;
    margin: 1.2rem;
    text-align: center;
    font-weight: bold;
    -webkit-font-weight: bold;
}

@media screen and (max-width: 800px) {
    h1 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }

h2 {
    line-height: 4rem;
}

h1, h2 {
    font-family: 'Bungee Shade', sans-serif;
}

h3, .accent-font {
    font-family: 'Bungee', sans-serif;
    font-size: 1.1rem;
}

/* Highlight style */
::selection {
    color: white;
    background: var(--secondary);
}

.no-highlight {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.no-underline {
    text-decoration: none;
}

.weight-500 {
    font-weight: 500;
}

.chip {
    font-size: 0.7rem;
    line-height: 0.7rem;
    border: var(--main) solid 1.5px;
    border-radius: 0.9rem;
    padding: 0.25rem 0.7rem;
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.chip:hover, .main-color-button:hover{
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--main);
}

.transition-short {
    transition: 0.1s ease-in-out;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -ms-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

mat-icon {
    vertical-align: text-bottom;
}

.main-color-button {
    transition: 0.2s ease-in-out;
}

/* Section link */
.section-header:hover .section-link {
    display: inline-block;
}

.section-header mat-icon.section-link {
    display: none;
}

.container:not(.home) {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.container-content {
    padding: 0rem 5rem;
}


button.mat-stroked-button, .mat-stroked-button:not(.mat-button-disabled) {
    max-width: min-content;
    border: 2px solid var(--main);
}

mat-stroked-button:hover {
    background: $accent;
}

.section-header {
    border-bottom: 0.25rem solid var(--main);
}

/* Mat-dialog styles */
.backdropBackground {
    background-color: rgba(0, 0, 0, 0.84);
    backdrop-filter: blur(0.1rem);
}

.mat-dialog-container {
    background-color: var(--background-color);
}

a {
    color: var(--main);
}

a:visited { 
    text-decoration: none; 
    color: var(--main); 
}

@media only screen and (max-width: 500px) {
    /* xs */
    .container {
        margin: 0;
    }
}
