$accent: #F5004A;
$highlight: #2941B4;

html[data-theme='light'] {
    --main: #171717;
    --secondary: #2941B4;
    --background-color: #fff;
    --progress-container: #ccc;
}

html[data-theme='dark'] {
    --main: #E3E2E1;
    --secondary: #143AFF;
    --background-color: #121212;
    --progress-container: #242424;
    .filter-img-white {
        filter: brightness(0%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(128deg) brightness(103%) contrast(102%);
        -webkit-filter: brightness(0%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(128deg) brightness(103%) contrast(102%);
    }
    .accent-on-dark {
        color: $accent;
    }
}